<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ShareClass</key>
		<string>JPShareFaceBook</string>
		<key>ShareAppKey</key>
		<string>497109307128347</string>
		<key>ShareAppSecret</key>
		<string>9c957ab6c9da9d5ec9e05fcf964b0ecf</string>
		<key>ShareAppRedirectURI</key>
		<string>http://www.poco.cn</string>
		<key>ShareAuthorizeFile</key>
		<string>FaceBookAuthorizeFile.rft</string>
		<key>SharePlatform</key>
		<string>5</string>
	</dict>
	<dict>
		<key>ShareClass</key>
		<string>JPShareInstagram</string>
		<key>ShareAppKey</key>
		<string>ac1d221d81d94bdca372c88cd5ae70d2</string>
		<key>ShareAppSecret</key>
		<string>e55b5a58cb2849528615c8f590042e34</string>
		<key>ShareAppRedirectURI</key>
		<string>http://www.poco.cn/</string>
		<key>ShareAuthorizeFile</key>
		<string>InstagramAuthorizeFile.rft</string>
		<key>SharePlatform</key>
		<string>7</string>
	</dict>
	<dict>
		<key>ShareClass</key>
		<string>JPShareTwitter</string>
		<key>ShareAppKey</key>
		<string>ezKgiH5ESbq4oWqcak8ji9IMj</string>
		<key>ShareAppSecret</key>
		<string>TUcPuYNHsUY7aEH62wh93azwg1Act61374TBbA6XhuQILG46bd</string>
		<key>ShareAppRedirectURI</key>
		<string>http://www.poco.cn</string>
		<key>ShareAuthorizeFile</key>
		<string>TwitterAuthorizeFile.rft</string>
		<key>SharePlatform</key>
		<string>6</string>
	</dict>
	<dict>
		<key>ShareAppKey</key>
		<string>3093324165</string>
		<key>ShareAppSecret</key>
		<string>181b081ad1f97a3dadd423ccf2ac9029</string>
		<key>ShareAppRedirectURI</key>
		<string>http://www.poco.cn</string>
		<key>ShareAuthorizeFile</key>
		<string>SinaAuthorizeFile.rtf</string>
		<key>SharePlatform</key>
		<string>0</string>
	</dict>
	<dict>
		<key>ShareAppKey</key>
		<string>101127414</string>
		<key>ShareAppSecret</key>
		<string>ec53d2e9ad7e468e6a640cfffe05398b</string>
		<key>ShareAppRedirectURI</key>
		<string>www.qq.com</string>
		<key>ShareAuthorizeFile</key>
		<string>QQAuthorizeFile.rtf</string>
		<key>SharePlatform</key>
		<string>2</string>
	</dict>
	<dict>
		<key>ShareAppKey</key>
		<string>wx6f8328fceaf3443a</string>
		<key>ShareAppSecret</key>
		<string>7d06a6714d3cde059a632d7dd9942456</string>
		<key>ShareAppRedirectURI</key>
		<string>http://www.poco.cn</string>
		<key>ShareAuthorizeFile</key>
		<string>WechatAuthorizeFile.rft</string>
		<key>SharePlatform</key>
		<string>3</string>
	</dict>
</array>
</plist>
